/* work sans google font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared styles */
* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

/* header section styles */
nav {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  display: flex;
  align-items: center;
  width: 50%;
}
.nav-logo img {
  width: 80px;
}
.nav-logo p {
  color: #0b0223;
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 10px;
}
.nav-logo span {
  color: #ff42a5;
}
.nav-item {
  width: 50%;
}
.nav-item ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-item ul li {
  font-size: 1.25rem;
  font-weight: 500;
  list-style: none;
}
.nav-item ul a {
  color: #3c354f;
  text-decoration: none;
}
.nav-item .btn-icon {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 10px;
}
.nav-item .btn-icon i {
  color: red;
  font-size: 1.25rem;
}

/* banner styles */
.banner-container {
  background-image: url(images/Group\ 14.png);
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.banner {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  width: 50%;
}
.banner-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.banner-content span {
  font-size: 6rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-info {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
}
.btn-primary {
  color: #ffffff;
  font-size: 1.25rem;
  padding: 20px 40px;
  border-radius: 48px;
  background: #ff42a5;
  border: none;
}
.btn-primary-1 {
  background: #4ec5f7;
  margin-left: 30px;
}
.banner-img {
  width: 50%;
}
.banner-img img {
  width: 100%;
}

/* online games section style */
.online-games {
  max-width: 1440px;
  margin: 100px auto;
}
.online-games-content {
  text-align: center;
}
.online-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.online-title span {
  color: #f950e0;
}
.online-info {
  color: #534c64;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 50px;
}
.games-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.games-card img {
  width: 100%;
  opacity: 1;
}
.games-card-info {
  color: #534c64;
  font-size: 1rem;
  font-weight: 500;
}
/* .games-video-card img:hover{
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
    width: 100%;
    opacity: 2;
} */

/* play games section styles */
.play-games {
  max-width: 1440px;
  margin: 100px auto 0px;
  display: flex;
  align-items: center;
  gap: 130px;
}
.play-games-img {
  width: 58%;
}
.play-games-img .img-1{
    height: ;
    width: ;
}
.play-games-img .img-2 {
  height: 320px;
  width: 300px;
  position: relative;
  top: -150px;
  left: 526px;
}
.play-games-content {
  width: 30%;
}
.play-games-title {
  color: #0b0223;
  font-size: 2.5rem;
  font-weight: 700;
}
.play-games-title span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-games-info {
  color: #534c64;
  font-size: 1rem;
  font-weight: 400;
}

/* games item container section styles */
.games-item-container {
  background-color: rgba(255, 66, 165, 0.03);
  padding: 50px 0;
}
.games-item {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
  left: 80px;
}

.games-item-1 {
  display: flex;
  gap: 5px;
  padding: 5px;
  color: #0b0223;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.5s ease;
}
.games-item-1 img {
  height: 50px;
  width: 50px;
}

.games-item-1:hover {
  background-color: #ffffff;
  border: 1px solid #f950e0;
  border-radius: 50px;
  transition: 0.3s ease;
  color: #f950e0;
}

/* responsive styles */
/* responsive website for mobile devices */
@media screen and (max-width: 576px) {
  nav,
  .nav-item ul {
    flex-direction: column;
  }
  .nav-item ul li {
    margin: 10px 0;
  }
  .nav-item,
  .banner-content,
  .banner-img {
    width: 100%;
    text-align: center;
  }
  .banner-container {
    background-image: none;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-content span {
    font-size: 5rem;
  }
  .games-card {
    grid-template-columns: 1fr;
  }
}

/* responsive website for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  nav,
  .nav-item ul {
    flex-direction: column;
  }
  .nav-item ul li {
    margin: 10px 0;
  }
  .nav-item {
    width: 100%;
    text-align: center;
  }
  .nav-logo {
    width: 30%;
  }
  .banner-container {
    background-image: none;
  }
  .banner-content {
    text-align: center;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-content span {
    font-size: 5rem;
  }
  .games-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
